<!--单个经纪人明细-->
<script id="work_agent_temp" type="text/template">
  <div className="log-con-bd">
    <table className="agent-table" cellpadding="0" cellspacing="0">
      <colgroup>
        <col width="10%">
        <col width="30%">
        <col width="30%">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <td className="pd-1">
          <a data-href="<%=basicinfo.detailurl%>" className="avatar">
            <img src="<%=basicinfo.picurl%>" alt="经纪人头像" />
            <%if(statinfo.b_core_shop=='1'){%><em className="agent-tag"></em><%}%>
          </a>
        </td>
        <td className="pd-2">
          <div className="info-con">
            <a className="name"><%=basicinfo.name%>  <%=basicinfo.mobile%></a>
            <figure className="company">
              所属公司：
              <a data-href="<%=basicinfo.detailurl%>"><%=basicinfo.companyshortname%></a><em>|</em>
              <a data-href="<%=basicinfo.detailurl%>"><%=basicinfo.bareaname%></a><em>|</em>
              <a data-href="<%=basicinfo.detailurl%>"><%=basicinfo.sareaname%></a><em>|</em>
              <a data-href="<%=basicinfo.detailurl%>"><%=basicinfo.storeshortname||basicinfo.storename%></a><em>|</em>
              <a data-href="<%=basicinfo.detailurl%>"><%=basicinfo.shopshortname||basicinfo.shopname%></a>
            </figure>
            <figure className="region">
              责任销售：<%if( saleinfo.major){%><span><%=saleinfo.major.name%>(<%=saleinfo.major.rank_code%>)</span><em>|</em><span><%=saleinfo.major.parent_name%></span><em>|</em><span><%=saleinfo.major.group_name%></span><%}else{%>无<%}%>
            </figure>
            <div className="bom-box g-line">
              <ul className="ag-Info">
                <li>
                  <span><em>入职时间：</em><%if(basicinfo.workstart>0){%><%=basicinfo.workstart%><%}else{%>--<%}%></span>
                </li>
                <li className="g-line">
                  <span className="g-u"><em>最近拜访时间：</em><%if(visitinfo.lastdate){%><%=visitinfo.lastdate%><%}else{%>未拜访<%}%></span>
                  <span className="g-lastu"><em>30天内拜访次数：</em><%if(visitinfo.num){%><%=visitinfo.num%><%}else{%>0<%}%></span>
                </li>
                <li className="g-line">
                  <span className="g-u"><em>最近客户意向：</em>
                    <%if(visitinfo.buylevel){%>
                    <%if(!visitinfo.buylevel.code){%>--<%}else{%><%=visitinfo.buylevel.code%><%}%>
                    <em><%if(visitinfo.buylevel.name){%>（<%=visitinfo.buylevel.name%>）<%}%></em>
                    <%}else{%>--<%}%>
                  </span>
                  <span className="g-lastu"><em>乐居端口在线时间：</em><%if(statinfo.useday){%><%=statinfo.useday%><%}else{%>0<%}%>天</span>
                </li>
              </ul>
            </div>
          </div>
        </td>
        <td className="pd-3">
          <div className="mar_b18">
            <ul className="g-line box-h box-products">
              <li className="l-tit">使用产品：<%if(!payinfo || !payinfo.all || !payinfo.all.length){%><strong>免费版</strong><%}%></li>
              <%if(payinfo&&payinfo.all&&payinfo.all.length){%>
              <li>
                <%for(var i = 0;i< payinfo.all.length;i++){%>
                <p>
                  <strong><%=payinfo.all[i].ucname.split('V')[0]%></strong><%if(payinfo.all[i].ucname.split('V').length>1){%><em className="v-s">V</em><%}%><q>|</q>
                  <%=payinfo.all[i].startdate%>-<%=payinfo.all[i].enddate%>
                  <%if('2'==payinfo.all[i].b_sanqian){%><em className="i_gong"></em><%}%>
                  <%if('1'==payinfo.all[i].b_sanqian){%><em className="i_zi"></em><%}%>
                </p>
                <%}%>
              </li>
              <%}%>
              <%if(payinfo && payinfo.up && payinfo.up.ucname){%>
              <li className="l-tit">上次使用版本：</li>
              <li>
                <p>
                  <strong><%=payinfo.up.ucname.split('V')[0]%></strong><%if(payinfo.up.ucname.split('V').length>1){%><em className="v-s">V</em><%}%><q>|</q>
                  <span><%=payinfo.up.enddate%>下线</span></p>
              </li>
              <%}%>
            </ul>
            <div className="add-num-bg dn">
              <span className="addBtn_normal"></span>
              <div className="mes_more dn"></div>
            </div>
            <ul>
              <li><span className="col-8">30天内到访客源量：</span><%if(statinfo.last30click){%><%=statinfo.last30click%><%}else{%>0<%}%>次</li>
            </ul>
            <%if(visitinfo && visitinfo.network){%>
            <ul className="g-line box-h">
              <li className="l-tit g-u">竞对产品：</li>
              <li className="fl g-last">
                <%for(i in visitinfo.network){%>
                <p>
                  <a><%=visitinfo.network[i].name%></a><q>|</q>
                  <em className="<%if(parseInt(visitinfo.network[i].num)>0){%>c_red<%}else{%>c_gray<%}%>"><%if(parseInt(visitinfo.network[i].num)>0){%>有<%}else{%>无<%}%>成交</em>
                </p>
                <%}%>
              </li>
            </ul>
            <%}%>
          </div>
        </td>
        <%if(statinfo.expire_after_7days=='0'&&statinfo.open_in_7days=='0'&&statinfo.tradenum=='0'&&statinfo.usaged_not_standard=='0'&&statinfo.high_intention_num=='0'){%>
        <td className="pd-4">
          <figure className="r-info xk_bg0 pr">
            <div className="xk_null"></div>
          </figure>
        </td>
        <%}else{%>
        <td className="pd-4 pr">
          <figure className="r-info">
            <%if(statinfo.tradenum&&statinfo.tradenum!='0'){%>
            <ul className="g-line box-h">
              <li className="g-u l-tit"><span className="tag t-cj"><q>乐居成交</q><em><%=visitinfo.tradenum+0%></em></span></li>
              <li className="g-lastu">
                <%for(var i=0;i< visitinfo.tradelist.length;i++){%>
                <p><%=visitinfo.tradelist[i].tradetime%><q>|</q><%=visitinfo.tradelist[i].communityname%><q>|</q><%=visitinfo.tradelist[i].room%>居<q>|</q><%=visitinfo.tradelist[i].buildingarea%>平<q>|</q><%=visitinfo.tradelist[i].tradeprice%>万元</p>
                <%}%>
              </li>
            </ul>
            <%}%>
            <%if(statinfo.usaged_not_standard&&statinfo.usaged_not_standard!='0'){%>
            <ul className="g-line box-h">
              <li className="g-u l-tit"><span className="tag t-wdb"><q>未达标</q><em><%=statinfo.usaged_not_standard%></em></span></li>
              <li className="g-lastu">
                <p>
                  <%var tempCount=0;%>
                  <%for(i in statinfo.not_standard_item_list){%>
                  <%if(tempCount>0){%><q>|</q><%}%><%=statinfo.not_standard_item_list[i]%>
                  <%tempCount++;%>
                  <%}%>
                </p>
              </li>
            </ul>
            <%}%>
            <%if(statinfo.expire_after_7days&&statinfo.expire_after_7days!='0'){%>
            <ul className="g-line box-h">
              <li className="g-u l-tit"><span className="tag t-7tdq"><q>7天到期</q><em><%=statinfo.expire_after_7days%></em></span></li>
              <li className="g-lastu">
                <%for(var i=0;i< payinfo.end.length;i++){%>
                <p>
                  <strong><%=payinfo.end[i].ucname.split('V')[0]%></strong>
                  <%if(payinfo.end[i].ucname.split('V').length>1){%><em className="v-s">V</em><%}%>&nbsp;<%=payinfo.end[i].enddate%>
                  <%if('2'==payinfo.end[i].b_sanqian){%><em className="i_gong"></em><%}%>
                  <%if('1'==payinfo.end[i].b_sanqian){%><em className="i_zi"></em><%}%>
                </p>
                <%}%>
              </li>
            </ul>
            <%}%>
            <%if(statinfo.open_in_7days&&statinfo.open_in_7days!='0'){%>
            <ul className="g-line box-h">
              <li className="g-u l-tit"><span className="tag t-7tkt"><q>7天开通</q><em><%=statinfo.open_in_7days%></em></span></li>
              <li className="g-lastu">
                <%if(payinfo){%>
                <%for(var i=0;i< payinfo.start.length;i++){%>
                <p>
                  <strong><%=payinfo.start[i].ucname.split('V')[0]%></strong>
                  <%if(payinfo.start[i].ucname.split('V').length>1){%><em className="v-s">V</em><%}%>&nbsp;<%=payinfo.start[i].startdate%>
                  <%if('2'==payinfo.start[i].b_sanqian){%><em className="i_gong"></em><%}%>
                  <%if('1'==payinfo.start[i].b_sanqian){%><em className="i_zi"></em><%}%>
                </p>
                <%}%>
                <%}%>
              </li>
            </ul>
            <%}%>
            <%if(statinfo.expire_in_60days_ago&&statinfo.expire_in_60days_ago!='0'){%>
            <ul className="g-line box-h">
              <li className="g-u l-tit"><span className="tag t-60txx"><q>60天下线</q><em><%=statinfo.expire_in_60days_ago%></em></span></li>
              <li className="g-lastu">
                <%if(payinfo.down60.length){%>
                <%for(var i=0;i< payinfo.down60.length;i++){%>
                <p>
                  <strong><%=payinfo.down60[i].ucname.split('V')[0]%></strong>
                  <%if(payinfo.down60[i].ucname.split('V').length>1){%><em className="v-s">V</em><%}%>&nbsp;<%=payinfo.down60[i].startdate%>
                  <%if('2'==payinfo.down60[i].b_sanqian){%><em className="i_gong"></em><%}%>
                  <%if('1'==payinfo.down60[i].b_sanqian){%><em className="i_zi"></em><%}%>
                </p>
                <%}%>
                <%}%>
              </li>
            </ul>
            <%}%>
            <%if(statinfo.giftnum&&statinfo.giftnum!='0'){%>
            <ul className="g-line box-h">
              <li className="g-u l-tit"><span className="tag t-lp"><q>礼品</q><em><%=statinfo.giftnum%></em></span></li>
            </ul>
            <%}%>
            <%if(statinfo.high_intention_num&&statinfo.high_intention_num!='0'){%>
            <ul className="g-line box-h">
              <li className="g-u l-tit"><span className="tag t-7tkt"><q>电销可面见</q><em><%=statinfo.high_intention_num%></em></span></li>
            </ul>
            <%}%>
          </figure>
          <!--超出部分折叠-->
          <div className="add-num-bg dn">
            <span className="addBtn_normal"></span>
            <div className="mes_more dn"></div>
          </div>
        </td>
        <%}%>
      </tr>
      </tbody>
    </table>
  </div>
</script>
<!--本次呼叫标识和呼叫目的-->
<script id="mian_top_temp" type="text/template">
  <!--本次呼叫标示-->
  <div className="record_1">
    <h2><em></em>本次呼叫标识</h2>
    <div className="tag_s clearfix">
      <%if(window.WORK_PARAM.work_type==1){var info=queueinfo;}else if(window.WORK_PARAM.work_type==2){var info=visitinfo;}%>
      <%if(info.is_firstcall>0){%><span className="c_blue">首次</span><%}%>
      <%if(info.is_tempassign>0){%><span className="c_purple">指派</span><%}%>
      <%if(info.is_telsalevisit>0){%><span className="c_orange">回访</span><%}%>
      <%if(info.is_notstandard>0){%><span className="c_red">未达标</span><%}%>
      <%if(info.is_7expire>0){%><span className="c_orange">7天到期</span><%}%>
      <%if(info.is_7open>0){%><span className="c_green">7天开通</span><%}%>
    </div>
  </div>
  <!--本次呼叫目的-->
  <%if(info.is_tempassign>0 && info.call_aim && info.call_aim.length){%>
  <div className="record_2">
    <h2><em></em>本次呼叫目的</h2>
    <div><%=info.call_aim%></div>
  </div>
  <%}%>
</script>
<!--新版电话工作页面-->
<script id="enter_main_temp" type="text/template">
  <section id="tel_work" className="dn" data-uid="<%=info.basicinfo.uid%>">
    <%:=baidu.template("work_agent_temp",info)%>
    <div className="record_newCon">
      <%:=baidu.template("mian_top_temp",window.TEL_AGENT)%>
      <div className="record_3">
        <!--预约情况-->
        <div className="yx">
          <h2><em></em>预约情况<span>(选择“可面见”后，该经纪人自动流转给销售跟进）</span></h2>
          <figure className="radio-w">
            <!--baidu.template("tel_buylevel",{})-->
          </figure>
          <div className="tel_nointentionreason dn">无面见意向的原因 <input type="text" id="tel_nointentionreason" maxlength="20" placeholder="无面见意向的原因"/></div>
          <div className="times clearfix">
            <div className="tit dn">建议销售到店时间</div>
            <div className="tit dn">
              预约下次呼叫时间
            </div>
            <div className="dn date-box clearfix">
              <span id="datePicker" className="time_l fl"></span>
              <span className="time_r fl"><em className="icon-date"></em></span>
            </div>
          </div>
          <div className="notconn_item dn">
            <span><i data-val="1" className="btn-radio-no"></i>空号</span>
            <span><i data-val="2" className="btn-radio-no"></i>拒接</span>
            <span><i data-val="3" className="btn-radio-no"></i>停机</span>
          </div>
        </div>
        <!--回访详情-->
        <%if( (window.WORK_PARAM.work_type==2 && window.TEL_AGENT.visitinfo.pid>0) || (window.WORK_PARAM.work_type==1 && window.TEL_AGENT.queueinfo.is_telsalevisit>0)){%>
        <div className="visitCon">
          <h2><em></em>回访详情</h2>
          <!--遍历多个basic_show_temp-->
        </div>
        <%}%>
        <!--竞对情况-->
        <div className="jdui">
          <h2><em></em>竞对情况</h2>
          <!--baidu.template("tel_rival",res.result.data);-->
        </div>
        <!--核实意向-->
        <div className="checkCon">
          <h2><em></em>核实意向</h2>
          <figure className="radio-w">
            <em>意向程度</em>
            <!---->
          </figure>
        </div>
        <div className="desc clearfix">
          <textarea cols="30" rows="10" id="remark" placeholder="详细描述"></textarea>
          <span id="msg-sms"><i className="btn-check-no"></i>短信通知相关销售</span>
        </div>
        <!--btn-->
        <div className="btn-item clearfix">
          <%if(window.xkTelInfo.isCallCenter){%>
          <%if(window.WORK_PARAM.calltype==1){%>
          <div id="next" data-type="finish" className="error-btn"><a>保存</a></div>
          <%}else{%>
          <div data-type="finish" className="error-btn"><a>完成呼叫</a></div>
          <%if(window.WORK_PARAM.work_type==1){%>
          <div id="next" data-type="nextone" className="error-btn"><a>完成并呼叫下一个</a></div>
          <%}%>
          <%}%>
          <%}else{%>
          <div data-type="finish" className="success-btn"><a>完成呼叫</a></div>
          <%if(window.WORK_PARAM.work_type==1){%>
          <div data-type="nextone" className="success-btn"><a>完成并呼叫下一个</a></div>
          <%}%>
          <div data-type="cancel" className="error-btn"><a>取消</a></div>
          <%}%>
        </div>
      </div>
      <!--拜访历史-->
      <div className="record_4">
        <h2><em></em>拜访历史</h2>
        <div className="con">
          <ul className="main-title">
            <li className="current"><a href="javascript:;"> 电销呼叫历史（<span></span>）</a></li>
          </ul>
          <div className="log-table log-table-tel detail-table">
            <table id="visit-table" cellpadding="0" cellspacing="0" width="100%">
              <!--tel_visited_record,data-->
            </table>
            <div className="main-foot">
              <!--("tel_page_foot",data)-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</script>

<!--意向程度-->
<script id="degree_intention_temp" type="text/template">
  <%for(var i in degreeintention.options){%>
  <span data-name="<%=degreeintention.fieldname%>"><i className="btn-radio-no" data-val="<%=i%>"></i><%=degreeintention.options[i]%></span>
  <%}%>
</script>
<!--配置项的电销客户意向-->
<script id="tel_buylevel" type="text/template">
  <span data-val="6" data-extra="sugtime"><i className="btn-radio-no"></i>可面见</span>
  <span data-val="3" data-extra="sugtime noreason"><i className="btn-radio-no"></i>无面见意向</span>
  <span data-val="7" data-extra="notconn" data-hide="1"><i className="btn-radio-no"></i>未接通</span>
  <span data-val="4" data-hide="1"><i className="btn-radio-no"></i>离职</span>
  <span data-val="5" data-hide="1"><i className="btn-radio-no"></i>改行</span>
  <span data-val="8" data-hide="1"><i className="btn-radio-no"></i>呼叫成功但未沟通</span>
</script>

<!--竞对情况-->
<script id="tel_rival" type="text/template">
  <%for(var i=0;i< pc_rival.length;i++){%>
  <%var list=pc_rival[i];%>
  <ul className="clearfix">
    <li className="tit fl"><span><i className="btn-check-no"></i><%=list.rivalname%></span></li>
    <li className="fl"><label>投放</label><input name="<%=list.putamount%>" type="text" className="text1" /><em>元</em></li>
    <li className="fl"><label>使用时长：</label><input name="<%=list.lengthofuse%>" type="text" className="text2"/><em>月</em></li>
    <li className="fl ml30"><label>近期成交：</label>
      <span className="<%=list.istrade%>">
        <i className="btn-radio-no" data-val="1"></i>有<i className="btn-radio-no" data-val="0"></i>无
      </span>
    </li>
    <li className="fl ml30"><label>端口满意度：</label>
      <span className="<%=list.satisfaction%>">
        <i className="btn-radio-no" data-val="1"></i>满意<i className="btn-radio-no" data-val="2"></i>不满意
      </span>
    </li>
    <li className="w_cause dn">
      <p>端口不满意原因：</p>
      <ul className="<%=list.reason%>">
        <%for(var j in notsatisfiedreason){%>
        <li><i className="btn-check" data-val="<%=j%>"></i><%=notsatisfiedreason[j]%>
          <%if(j==5){%>
          <input name="reason" disabled type="text" name="rival_reason" maxlength=15 placeholder="请输入其他不满意原因" />
          <%}%>
        </li>
        <%}%>
      </ul>
    </li>
  </ul>
  <%}%>
</script>
<!--遍历多个销售回访详情-->
<script id="basic_show_temp" type="text/template">
  <%for(var i=0;i< data.length;i++){%>
  <div className="item line">
    <ul className="clearfix">
      <li className="box1 dataPid" data-pid="<%=data[i].pid%>">销售：<%=data[i].groupname%>-<%=data[i].realname%></li>
      <li className="box1">拜访时间：<%=data[i].ctime%></li>
    </ul>
    <!--<%:=baidu.template("tel_return_config",res.result)%>-->
  </div>
  <%}%>
</script>

<!--单个销售回访详情-->
<script id="tel_return_config" type="text/template">
  <ul className="groupCon clearfix">
    <%for(var i=0;i< visitdetails.length;i++){%>
    <%var list=visitdetails[i];%>
    <%if(Object.getOwnPropertyNames(list.options).length==2){%>
    <li className="box1">
      <em><%=list.fieldmark%></em>
        <span className="config_check" data-name="<%=list.fieldname%>">
          <%for(var k in list.options){%>
            <i data-val="<%=k%>" className="btn-radio-no"></i><%=list.options[k]%>
          <%}%>
        </span>
    </li>
    <%}%>
    <%}%>
  </ul>
  <ul className="groupCon clearfix">
    <%for(var i=0;i< visitdetails.length;i++){%>
    <%var list=visitdetails[i];%>
    <%if(Object.getOwnPropertyNames(list.options).length>2){%>
    <li className="box1">
      <em><%=list.fieldmark%></em>
      <select name="<%=list.fieldname%>">
        <option value="">请选择</option>
        <%for(var k in list.options){%>
        <option value="<%=k%>"><%=list.options[k]%></option>
        <%}%>
      </select>
    </li>
    <%}%>
    <%}%>
  </ul>
</script>

<!--配置项的沟通详情-->
<script id="tel_config" type="text/template">
  <%for(var i in data){%>
  <span data-tag="<%=i%>"><i data-val="<%=data[i]%>" className="btn-radio-no"></i><%=data[i]%></span>
  <%}%>
</script>

<!--拜访记录-->
<script id="tel_visited_record" type="text/template">
  <tr>
    <th width="15%">电话沟通时间</th>
    <th width="15%">销售</th>
    <th width="15%">客户意向</th>
    <th width="40%">沟通详情</th>
    <th width="15%" className="bor_r0">通话时长</th>
  </tr>
  <%if(typeof(tel_list)!="undefined"){%>
  <%if(!tel_list.length){%>
  <tr>
    <td colspan="9">
      <div className="side-null"></div>
    </td>
  </tr>
  <%}else{%>
  <%for(var i=0;i< tel_list.length;i++){%>
  <%var li=tel_list[i];%>
  <tr>
    <td><%=li.visittime%></td>
    <td><%=li.sale%></td>
    <td><%=li.intention%></td>
    <td title="<%=li.talk_content%>" style="cursor: help;">
      <%=li.talk_content_short%>
    </td><!--沟通详情-->
    <td className="bor_r0"><%=li.teltime%></td>
  </tr>
  <%}%>
  <%}%>
  <%}%>
</script>